<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="!showMenu">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="menu-content">

        <!-- Encabezado del menú -->
        <div class="menu-header">
          <div class="menu-avatar">
            @if (fotoUrl && !fotoError) {
              <img [src]="fotoUrl" alt="Foto de perfil" (error)="onFotoError()" />
            } @else {
              <span class="menu-iniciales">{{ iniciales() }}</span>
            }
          </div>
          @if (userName) {
            <p class="menu-username">{{ userName }}</p>
            <span class="menu-role">{{ userRole | titlecase }}</span>
          }
        </div>

        <!-- Ítems de navegación -->
        <ion-list lines="none">
          @for (item of menuItems; track item.url) {
            <ion-menu-toggle auto-hide="false">
              <ion-item
                routerDirection="root"
                [routerLink]="[item.url]"
                routerLinkActive="selected"
                detail="false">
                <ion-icon slot="start" [name]="item.icon + '-outline'"></ion-icon>
                <ion-label>{{ item.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <!-- Pie del menú: Cerrar sesión -->
        <div class="menu-footer">
          <ion-item lines="none" button (click)="logout()" class="logout-item" detail="false">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </div>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
